<div class="container">
  <div class="element" class="element-left">
    <app-pos-table
      [title]="this.table[0].title"
      [columnNames]="this.table[0].columnNames"
      [data]="this.table[0].tableData"
      (imageSelected)="displayedImage = $event"
    ></app-pos-table>
    <app-pos-table
      [title]="this.table[1].title"
      [columnNames]="this.table[1].columnNames"
      [data]="this.table[1].tableData"
      (imageSelected)="displayedImage = $event"
    ></app-pos-table>
  </div>
  <div class="element">
    <app-range-viewer [selectedImage]="displayedImage"></app-range-viewer>
  </div>
</div>
