<div class="container">
  <div class="element" class="element-left">
    <app-pos-table
      [columnNames]="columnNames2"
      [data]="tableData2"
      [title]="title2"
      (imageSelected)="displayedImage = $event"
    ></app-pos-table>
    <app-pos-table
      [columnNames]="columnNames"
      [data]="tableData"
      [title]="title"
      (imageSelected)="displayedImage = $event"
    ></app-pos-table>
  </div>
  <div class="element">
    <app-range-viewer [selectedImage]="displayedImage"></app-range-viewer>
  </div>
</div>
<button mat-raised-button color="accent">Primary</button>